name: ci

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  contents: read

on:
  schedule:
    - cron: '0 10 * * *'
  push:
    branches:
      - 'master'
      - 'releases/v*'
    tags:
      - 'v*'
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Labeler (test)
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: ./tests/fixtures/labels.update.yml
          skip-delete: true
          dry-run: true
      -
        name: Labeler (exclude part 1)
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: ./tests/fixtures/labels.exclude1.yml
          dry-run: true
          exclude: |
            * d*
            *enhancement
            *fix
      -
        name: Labeler (exclude part 2)
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: ./tests/fixtures/labels.exclude2.yml
          dry-run: true
          exclude: |
            *fix
