name: ci

on:
  schedule:
    - cron: '0 10 * * *' # everyday at 10am
  pull_request:
    branches:
      - master
      - releases/v*
  push:
    branches:
      - master
      - releases/v*

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.2
      -
        name: Labeler (test)
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .res/labels.update.yml
          skip-delete: true
          dry-run: true
      -
        name: Labeler (exclude part 1)
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .res/labels.exclude1.yml
          dry-run: true
          exclude: |
            * d*
            *enhancement
            *fix
      -
        name: Labeler (exclude part 2)
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .res/labels.exclude2.yml
          dry-run: true
          exclude: |
            *fix
